.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-image-1 {
  width: 965px;
  height: 870px;
  margin: -7px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -383px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -250px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-image-1 {
    height: 847px;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -360px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-image-1 {
    height: 649px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -162px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 897px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -468px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -199px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 646px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -145px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 788px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 746px;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 20px 11px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 92px 1px 0;
}

.u-section-2 .u-image-1 {
  height: 189px;
  margin: 42px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 696px;
  background-image: url("images/paolodietro.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 696px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 875px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 190px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    width: 294px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 574px;
    background-position: 61.39% 50%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1132px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 791px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 94px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
    width: 335px;
    margin-top: 43px;
  }

  .u-section-2 .u-image-2 {
    min-height: 659px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2072px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 105px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-1 {
    height: 263px;
    width: 466px;
    margin-top: 39px;
    margin-bottom: -19px;
  }

  .u-section-2 .u-image-2 {
    min-height: 989px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-text-5 {
    line-height: 2.05;
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1791px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-2 .u-image-1 {
    height: 191px;
    margin-top: 35px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 623px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-list-1 {
  margin: 125px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 702px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 50px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 587px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 458px;
}

.u-section-4 .u-image-1 {
  width: 511px;
  height: 435px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 289px;
    margin-top: 56px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1458px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 23px 105px 0;
}

.u-section-5 .u-gallery-1 {
  height: 1177px;
  margin: 60px 0 37px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  margin-right: 0;
  --effect-scale: 1.1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-gallery-1 {
    height: 971px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1768px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 1487px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4184px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3903px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2738px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2457px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-repeat: no-repeat;
  background-image: url("images/disegno2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 53.76%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 50% 53.76%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 345px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 514px;
}

.u-section-7 .u-accordion-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-7 .u-accordion-link-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 30px;
}

.u-section-7 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 92px;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
}

.u-section-7 .u-accordion-link-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 30px;
}

.u-section-7 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 92px;
  height: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-text-2 {
  margin-left: 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 30px;
}

.u-section-7 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 92px;
  height: auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-text-3 {
  margin-left: 30px;
}

.u-section-7 .u-accordion-link-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 30px;
}

.u-section-7 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-4 {
  min-height: 92px;
  height: auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-7 .u-text-4 {
  margin-left: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-7 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-7 .u-accordion-1 {
    margin-bottom: 50px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-7 .u-accordion-1 {
    margin-bottom: 60px;
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 1px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1116px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  width: 346px;
  margin: 23px auto 0;
}

.u-section-8 .u-custom-html-1 {
  height: auto;
  min-height: 1007px;
  margin: 35px 0 -2px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-8 .u-custom-html-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-8 .u-custom-html-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }
}